ICONDO_AUTH_TOKEN=your_jwt_token_here
ICONDO_USER_ID=your_user_id
ICONDO_FACILITY_ID=your_facility_id
ICONDO_API_KEY=your_api_key
ICONDO_CONDO_ID=your_condo_id
ICONDO_UNIT_ID=your_unit_id
ICONDO_DEVICE_ID=your_device_id
ICONDO_REGISTRAR_ID=your_registrar_id
ICONDO_AUTH_SIG_KEY=your_auth_sig_key
ICONDO_AUTH_SIG_HASH=your_auth_sig_hash
ICONDO_AUTH_SIG_DATE=your_auth_sig_date
